{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"></link>
    <title>Beautiful Places</title>
</head>
<body>
<div class="container">
<input id="menu-button" type="checkbox">
<label for="menu-button">
  <div class="menu">
 <span class="button"></span>
  </div>
</label>

<ul>
    <li><a href="index">Home</a></li>
    <li><a href="bplaces">Beatiful Places</a></li>
    <li><a href="hplaces">Hauting Places</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="stories">Stories</a></li>
    <li><a href="aboutus">Who we Are</a></li>
</ul>
</div>

<h1 id="beaty">Route of Emotions and Lençóis Maranhenses, Maranhão</h1>
<img id="b" src="{% static 'img/maranhao.png'%}">
<p id="maranhao">In 2018, we organized a tour through three Brazilian states: Maranhão, Piauí and Ceará. This route is called the Route of Emotions and was designed by Sebrae to encourage tourism in the region. It brings together three of the best places to travel in Brazil on the same itinerary: Lençóis Maranhenses, Delta do Parnaíba and Jericoacoara.
The name couldn't be more suitable. Many people recommend that the best way to do the Route of Emotions is to start in Jericoacoara (Ceará), then pass through the Delta do Parnaíba (Piauí) and end in Lençóis Maranhenses. In this way, the emotions of the script tend to gradually increase.</p>
</body>
</html>