{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"></link>
    <title>TES</title>
</head>
<body>
<input id="menu-button" type="checkbox">
<label for="menu-button">
  <div class="menu">
 <span class="button"></span>
  </div>
</label>

<ul>
    <li><a href="index">Home</a></li>
    <li><a href="bplaces">Beatiful Places</a></li>
    <li><a href="hplaces">Hauting Places</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="stories">Stories</a></li>
    <li><a href="aboutus">Who we Are</a></li>
</ul>
</body>
</html>