{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"></link>
    <title>Haunting Places</title>
</head>
<div class="container">
<div>
<input id="menu-button" type="checkbox">
<label for="menu-button">
  <div class="menu">
 <span class="button"></span>
  </div>
</label>

<ul>
    <li><a href="index">Home</a></li>
    <li><a href="bplaces">Beatiful Places</a></li>
    <li><a href="hplaces">Hauting Places</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="stories">Stories</a></li>
    <li><a href="aboutus">Who we Are</a></li>
</ul>
</div>

    <h1 id="hpplace">Dolls Island, Mexico</h1>
    <img id="dolla" height="300" width="300" src="{% static 'img/doll.jpg' %}">
    <p id="doll">How about taking a trip to Mexico and getting to know the famous (and hideous) Ilha das Bonecas?

Xochimilco has an extensive network of channels that are great for sailing - one of the routes ends at a place that has trees with pieces of plastic dolls all over it. Despite the frightening appearance, the deformed and rotten dolls are a form of homage to a girl who drowned on the beach while playing with a doll.</p>
</body>
</html>