{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"></link>
    <title>Stories</title>
</head>
<body>
<div class="container">
<input id="menu-button" type="checkbox">
<label for="menu-button">
  <div class="menu">
 <span class="button"></span>
  </div>
</label>

<ul>
    <li><a href="index">Home</a></li>
    <li><a href="bplaces">Beatiful Places</a></li>
    <li><a href="hplaces">Hauting Places</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="stories">Stories</a></li>
    <li><a href="aboutus">Who we Are</a></li>


</ul>
</div>

 <h1 id="storieid">Waldniel-Hostert</h1>
    <img id="imgterr" height="300" width="300" src="{% static 'img/terror.jpg' %}">
    <p id="storie">Initially, it was built in the 20th century, in Germany, or Waldniel-Hostert. Just as it housed the physically disabled, it also housed the mentally disabled. In the rise of the Adolf Hitler regime, or location it underwent changes. Above all, all citizens not wanted by the regime were sent there, as drunks, more inattentive people and victims and also schizophrenics.

In addition, all the people who were sterilized there. From 1939, due to the euthanasia decree, many were sent to the gas chamber. In addition, children born with disabilities were included to die. It turns out that 97 babies were killed on the spot.

Finally, after the Second World War as installations passed to the hand of the Franciscans, which in turn will be sold by the government. The place already serves many things before being disabled, however, many people who have passed by say they hear or cry and scream children.</p>
</body>
</html>